body {
	margin:50px 0px; padding:0px;
	text-align:center;
	
font-family: Verdana,Arial,Helvetica,sans-serif;
   font-size: 18px;

	}
	
	header{
background:-webkit-gradient(radial, 165 0, 0, 220 -257, 465, from(#000000), to(#FF0200))
	}
	
	.content{
	background-color: #1229A9;
	}
	
	footer{
	background:-webkit-gradient(radial, 165 0, 0, 220 -257, 465, from(#000000), to(#FF0200))
	}
	
	
/*אנמציה לכותרת דף ראשי*/	
.classname {
-webkit-animation: cssAnimation 0.4023s 8 ease;
-moz-animation: cssAnimation 0.4023s 8 ease;
-o-animation: cssAnimation 0.4023s 8 ease;
}
@-webkit-keyframes cssAnimation {
from { -webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(0px); }
to { -webkit-transform: rotate(0deg) scale(1.106) skew(6deg) translate(3px); }
}
@-moz-keyframes cssAnimation {
from { -moz-transform: rotate(0deg) scale(1) skew(1deg) translate(0px); }
to { -moz-transform: rotate(0deg) scale(1.106) skew(6deg) translate(3px); }
}
@-o-keyframes cssAnimation {
from { -o-transform: rotate(0deg) scale(1) skew(1deg) translate(0px); }
to { -o-transform: rotate(0deg) scale(1.106) skew(6deg) translate(3px); }
}

/*ביטול כל הלינקים ונתינת להם כפתור*/
a{
text-decoration:none;
}



p>a{

width: 220px;
	height: 16px;

   border-top: 1px solid #696969;
   background: #1e4057;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#1e4057));
   background: -webkit-linear-gradient(top, #000000, #1e4057);
   background: -moz-linear-gradient(top, #000000, #1e4057);
   background: -ms-linear-gradient(top, #000000, #1e4057);
   background: -o-linear-gradient(top, #000000, #1e4057);
   padding: 14.5px 29px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 23px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
   }

p>a:hover {
   border-top-color: #0f2d40;
   background: #0f2d40;
   color: #ccc;
   }

p>a:active {
   border-top-color: #484c4f;
   background: #484c4f;
   }
   
 
li>a{
   border-top-color: #0f2d40;
 background: #000;
color: red;
 
}

li>a:hover {
background:White;
color: #000;
}


a{

color:White;
}
/*מפה עיצוב*/

#map_canvas{
border-width:5px;	
border-style:outset;
}

#tos{
 margin-left: 10px;
    width: 10px;
	  left: 10px;

}
#to{

   font-size: 18px;
   font-family: Georgia, Serif; 
  border-width:5px;	
border-style:inset;   
}


#submit,#tocalculate{
    
    margin-left: 490px;

	width: 260px;
	height: 16px;

   border-top: 1px solid #696969;
   background: #1e4057;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#1e4057));
   background: -webkit-linear-gradient(top, #000000, #1e4057);
   background: -moz-linear-gradient(top, #000000, #1e4057);
   background: -ms-linear-gradient(top, #000000, #1e4057);
   background: -o-linear-gradient(top, #000000, #1e4057);
   padding: 14.5px 29px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 23px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;

}

/*לכפתורי חישוב */
#submit, #tocalculate:hover {
   border-top-color: #0f2d40;
   background: #0f2d40;
   color: #ccc;
   }

#submit ,#tocalculate:active {
   border-top-color: #484c4f;
   background: #484c4f;
   }
   
  #submit, #tocalculate:hover {
   border-top-color: #0f2d40;
   background: #0f2d40;
   color: #ccc;
}


/*לטופס*/
#form{
 
width: 800px;

border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
	margin-right: auto;
    margin-left: auto;

}

.ui-field-contain{
width: 800px;

}

label{
font-size: 16px;
width:200px;
text-align: left;
color: red;
}

#sendform{
width: 200px;
	margin-left: 300px;
	   box-shadow: rgba(0,0,0,1) 0 1px 0;
 border-top-color: #0f2d40;
   background: red;


   }

#sendform:hover {
   border-top-color: #0f2d40;
   background: #0f2d40;
   color: #ccc;
   }

#sendform:active {
   border-top-color: #484c4f;
   background: #484c4f;
   }


